<h1>My favorites</h1>

<% if @favorite_islands.any? %>
  <ul>
    <% @favorite_islands.each do|island|%>
      <li>
        <p><%= island.name %></p>
        <%= link_to "View island details", island_path(island), class: "btn btn-primary", style: "margin-bottom: 16px"%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>"You have not favorited any islands yet."</p>
<% end %>
