<div class="container">
  <div class="row">
    <h1>Manage Your Islands</h1>
    <div class="col" data-controller="insert-in-list">
      <!-- List of Islands -->
      <% if @my_islands.any? %>
        <div id="islands" data-insert-in-list-target="items">
          <% @my_islands.each do |island| %>
            <div class="mb-4">
              <%= render "card", island: island %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>You have not created any islands yet.</p>
      <% end %>

      <!-- Toggle Form for Creating a New Island -->
      <div class="mt-5" data-controller="toggle">
        <button data-action="click->toggle#fire" class="btn btn-outline-primary">Create a new island</button>
        <div data-toggle-target="togglableElement" class="d-none mt-3">
          <%= render "form", island: @island %>
        </div>
      </div>
    </div>
  </div>
</div>
