<div class="container">
  <div class="row row-cols-1 g-4">
    <h1>My favorites</h1>
    <% if @favorite_islands.any? %>
      <% @favorite_islands.each do|island|%>
        <div class="col">
          <%= render "islands/card", island: island %>
        </div>
      <% end %>
    <% else %>
      <p>"You have not favorited any islands yet."</p>
    <% end %>
  </div>
</div>
